### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#check for missing data
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [3]:
#Calculate the total number of players
Total_Players = len(purchase_data_df["SN"].unique())

#Create new dataframe of Total Players
Total_Players_df = pd.DataFrame({"Total Players":[Total_Players]})

Total_Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Unique on Item_ID
Total_Unique_Items = len(purchase_data_df["Item ID"].unique())

#Take average of Price
Average_Price = purchase_data_df["Price"].mean()

#Len of Purchase ID
Total_Purchased_Items = len(purchase_data_df["Purchase ID"])

#Sum of Price
Tot_Revenue = purchase_data_df["Price"].sum()

#Create new Dataframe of summarized dat
Summary_df = pd.DataFrame({"Number of Unique Items":[Total_Unique_Items],"Average Price":Average_Price,"Number of Purchases":Total_Purchased_Items,"Total Revenue":Tot_Revenue})

Summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
Player_Group = purchase_data_df.groupby("SN")


Gender_Group_df = pd.DataFrame(Player_Group["Gender"])

Gender_Group_df = Gender_Group_df.groupby("Gender")
Gender_Group_df.head()

KeyError: 'Gender'

In [ ]:
#User_Group_df = purchase_data_df.groupby(['SN'])

#Gender_Group_df = User_Group_df["Gender"].count()

#Gender_Group_df

In [ ]:
#Gender_Group_df = purchase_data_df.groupby(['Gender'])

#Gender_Group_2_df = Gender_Group_df['SN'].unique

#Gender_Group_2_df

In [ ]:
#Get count of different genders
#Gender_Count = User_Group_df["Gender"].value_counts()

#Gender_Count


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
items_purchased = Player_Group["SN"].count()

#

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame